<!--The content below is only a placeholder and can be replaced.-->


<ul *ngIf="isLogged()">
        <li><a routerLink="home" >Home</a></li>
        <li><a routerLink="person">Person</a></li>
        <li><a routerLink="about" >About</a></li>
        <li><a routerLink="" (click)='logout()'>Logout</a></li>
      </ul>

<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
                <alert></alert>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>